*.dll
*.exe
.DS_Store
terraform.tfvars
terraform.tfplan
terraform.tfstate
bin/
build/
terraform-provider-twingate
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
.vscode/
out/
vendor/
examples_local/
.idea/
website/vendor
.terraform.lock.hcl
vars.tfvars
# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

