---
subcategory: "aws"
page_title: "AWS EC2 Deployment Guide"
description: |-
This document walks you through a basic deployment using Twingate's Terraform provider on AWS
---

# Deployment Guide

This deployment guide walks you through a basic AWS deployment of Twingate. For more information about Twingate, please reference the Twingate [documentation](https://docs.twingate.com/docs). It assumes basic knowledge of Twingate's service, the AWS Terraform provider, and a pre-existing AWS deployment in Terraform.

## Before you begin

* Sign up for an account on the [Twingate website](https://www.twingate.com). You will need the Twingate Enterprise tier to use Terraform with Twingate.
* Create a Twingate [API key](https://docs.twingate.com/docs/api-overview). The key will need to have full permissions to Read, Write, & Provision, in order to deploy Connectors through Terraform.

## Setting up the Provider

First, we need to set up the Twingate Terraform provider by providing your network ID and the API key you provisioned earlier.

```terraform
provider "twingate" {
  api_token = "1234567890abcdef"
  network   = "mynetwork"
}
```

## Creating the Remote Network and Connectors in Twingate

Next, we'll create the objects in Twingate that correspond to the AWS network that we're deploying Twingate into: A Remote Network to represent the AWS VPC, and a Connector to be deployed in that VPC. We'll use these objects when we're deploying the Connector image and creating Resources to access through Twingate.

```terraform
resource "twingate_remote_network" "aws_network" {
  name = "AWS Network"
}

resource "twingate_connector" "aws_connector" {
  remote_network_id = twingate_remote_network.aws_network.id
}

resource "twingate_connector_tokens" "aws_connector_tokens" {
  connector_id = twingate_connector.aws_connector.id
}
```

## Deploying the Connector

Now that we have the data types created in Twingate, we need to deploy a Connector into the AWS VPC to handle Twingate traffic. We'll use the pre-existing AWS AMI image for the Twingate Connector. First, we need to look up the latest AMI ID.

```terraform
data "aws_ami" "connector" {
  most_recent = true
  filter {
    name = "name"
    values = [
      "twingate/images/hvm-ssd/twingate-amd64-*",
    ]
  }
  owners = ["617935088040"]
}
```

Now, let's go ahead and deploy the AMI. For this example, we're creating a new VPC and security group, but you can use an existing one too. We'll deploy the Connector on a private subnet, because it doesn't need and shouldn't have a public IP address. Note the shell script that we use to configure the Connector tokens when the AMI launches.

{{tffile "examples/ami/ami.tf"}}

## Creating Resources

Now that you've deployed the Connector, we can create Resources on the same Remote Network that can be accessed through Twingate. You'll need to define the Group ID explicitly, which you can pull from the Twingate Admin Console or the API. It's the 12 character ID at the end of the URL when you're viewing the Group in the Admin Console. For this example, we'll assume you already have an `aws_instance` defined.

```terraform
resource "twingate_resource" "tg_instance" {
  name = "My AWS Instance"
  address = aws_instance.my_instance.private_dns
  remote_network_id = twingate_remote_network.my_aws_network.id
  group_ids = ["R3JvdXG6OGky"]
}
```