---
subcategory: "aws"
page_title: "AWS EC2 Deployment Guide"
description: |-
This document walks you through a basic deployment using Twingate's Terraform provider on AWS
---

# Deployment Guide

This deployment guide walks you through a basic AWS deployment of Twingate. For more information about Twingate, please reference the Twingate [documentation](https://docs.twingate.com/docs). It assumes basic knowledge of Twingate's service, the AWS Terraform provider, and a pre-existing AWS deployment in Terraform.

## Before you begin

* Sign up for an account on the [Twingate website](https://www.twingate.com). You will need the Twingate Enterprise tier to use Terraform with Twingate.
* Create a Twingate [API key](https://docs.twingate.com/docs/api-overview). The key will need to have full permissions to Read, Write, & Provision, in order to deploy Connectors through Terraform.

## Setting up the Provider

First, we need to set up the Twingate Terraform provider by providing your network ID and the API key you provisioned earlier. TODO EXPLAIN HOW SECRETS ARE RETRIEVED IF NEEDED

```terraform
provider "twingate" {
  api_token = data.sops_file.secret.data["autoco_api_token"]
  network   = "autoco"
  url       = lookup(local.twingate_domain, var.tenant_namespace)
}
```

## Creating the Remote Network and Connectors in Twingate

Next, we'll create the objects in Twingate that correspond to the AWS network that we're deploying Twingate into: A Remote Network to represent the AWS VPC, and a Connector to be deployed in that VPC. We'll use these objects when we're deploying the Connector image and creating Resources to access through Twingate.

```terraform
resource "twingate_remote_network" "my_aws_network" {
  name = "AWS Network"
}

resource "twingate_connector" "aws_connector" {
  remote_network_id = twingate_remote_network.my_aws_network.id
}

resource "twingate_connector_tokens" "aws_connector_tokens" {
  connector_id = twingate_connector.aws_connector.id
}
```

## Deploying the Connector

Now that we have the data types created in Twingate, we need to deploy a Connector into the AWS VPC to handle Twingate traffic. We'll use the pre-existing AWS AMI image for the Twingate Connector. First, we need to look up the latest AMI ID.

```terraform
data "aws_ami" "connector" {
  most_recent = true
  filter {
    name = "name"
    values = [
      "twingate/images/hvm-ssd/twingate-amd64-*",
    ]
  }
  owners = [lookup(local.ami_owners, var.tenant_namespace)]
}
```

Lets go ahead and deploy the AMI. Either create an VPC and SG or use the ones from the example below

{{tffile "examples/ami/ami.tf"}}