---
subcategory: "k8s"
page_title: "Deploy connect with helm - Twingate Provider"
description: |-
An example of how to deploy a connector with helm and keep it up to date
---

## Deploy a connector with a helm provider

providers used in the example

{{tffile "examples/helm/version.tf"}}

Helm deployment

{{tffile "examples/helm/helm.tf"}}