---
layout: ""
page_title: "Twingate Provider"
description: |-
  The Twingate terraform provider can be used to interact with a Twingate API.
---

# Twingate Provider

The Twingate provider can be used to interact with [Twingate](https://www.twingate.com)

~> Important Interacting with Twingate from Terraform causes any secrets that you read and write to be persisted in both Terraform's state file and in any generated plan files. For any Terraform module that reads or writes Twingate secrets, these files should be treated as sensitive and protected accordingly.

## Twingate Setup

This Terraform provider should be configured to use the API-KEY, what could be generated in [Admin UI](https://docs.twingate.com/docs/api-overview) and network what is prefix of your twingate URL when you login into your account, for example: URL `mycompany.twingate.com` where network: `mycompany`

## Guidance and documentation

Visit our [website](https://docs.twingate.com/docs) to check more terms and documentation

## Example Usage

{{tffile "examples/provider/provider.tf"}}


{{ .SchemaMarkdown | trimspace }}